@import '../../assets/variables';

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: url(../../assets/images/saloon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  h1 {
    color: #fff;
    font-family: $rye-font;
  }
}
