@import '../../assets/variables';

.navbar {
  display: flex;
  justify-content: center;
}

.header {
  background-color: $green-color;
  font-family: $smokum-font;
  font-size: 2.5rem;
  color: $bg-color;
  padding-block: 1rem;
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-link {
  text-decoration: none;
  color: $bg-color;
}

.header {
  text-align: right;
}

.primary-nav {
  display: flex;
  margin: 0;
  gap: 1rem;
  align-items: center;
  position: fixed;
  list-style: none;
  background-color: $green-color;
  inset: 100% 0 0 0;
  transition: all 0.3s ease-in-out;
  padding-block: min(20vh, 10rem);
  flex-direction: column;

  &.active {
    inset: 0;
  }

  li {
    &::after {
      content: '';
    }
  }
}

.menu-btn[aria-label='menu'] {
  display: inline-block;
}

@media (min-width: 576px) {
  .primary-nav {
    padding-block: 0;
    position: relative;
    inset: auto;
    flex-direction: row;
    li {
      display: inline;
      &::after {
        content: '/';
        padding-left: 1rem;
      }

      &:hover {
        text-shadow: 1px 1px rgb(0, 0, 0);
        &::after {
          text-shadow: none;
        }
      }

      &:last-child::after {
        content: '';
      }
    }
  }
  .menu-btn[aria-label='menu'] {
    display: none;
  }
}
