@import '../../assets/variables';

.navbar {
  display: flex;
  justify-content: center;
}
.header {
  background-color: $green-color;
  font-family: $smokum-font;
  font-size: 2.5rem;
  color: $bg-color;
  padding-block: 1rem;
}
.nav-link {
  text-decoration: none;
  color: $bg-color;
}
.primary-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  li {
    display: inline;
    &::after {
      content: '/';
      padding-left: 1rem;
    }
    &:hover {
      text-shadow: 1px 1px rgb(0, 0, 0);
      &::after {
        text-shadow: none;
      }
    }
    &:last-child::after {
      content: '';
    }
  }
}
.menu-btn[aria-label='menu'] {
  display: none;
}

@media (max-width: 576px) {
  .header {
    text-align: right;
  }
  .primary-nav {
    align-items: center;
    position: fixed;
    transform: translateY(-100%);
    inset: 0;
    background-color: $green-color;

    transition: all 0.3s ease-in-out;
    padding-block: min(20vh, 10rem);
    flex-direction: column;
    &.active {
      transform: translateY(0);
    }
    li {
      &::after {
        content: '';
      }
    }
  }
  .menu-btn[aria-label='menu'] {
    display: inline-block;
  }
}
